<div id="header" class="row">
  <div class="col-md-2">
    NBA Articles
  </div>
  <div class="col-md-1">
    <a href="/">Home</a>
  </div>
  <div class="col-md-1">
    <a href="/saved">Saved Articles</a>
  </div>
  <div class="col-md-1">
    <button id="scrape" class="btn btn-large btn-danger">Scrape Articles</button>
  </div>
</div>
<div class="row" id="background">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h3>Articles about the NBA from SB Nation</h3>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="container">
  <div class="row">
    <ul>Articles
      {{#each dbArticle}}
      <li>
        {{this.title}} 
        <button class="btn btn-success save" id="{{this._id}}">Save Article</button><br>
        <a href="{{this.link}}">View the article here</a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>