<div id="header" class="row">
  <div class="col-md-2">
    NBA Articles
  </div>
  <div class="col-md-1">
    <a href="/">Home</a>
  </div>
  <div class="col-md-1">
    Saved Articles
  </div>
  <div class="col-md-1">
    <button class="btn btn-large btn-danger">Scrape Articles</button>
  </div>
</div>